@font-face {
    font-family: 'Mafisha', sans-serif;
    src: url(http://fonts.cdnfonts.com/css/mafisha)

}

body {
}

.navbar {
    font-family: 'Mafisha', sans-serif;
}

.navbar-brand {
    font-size: large;
}

/* add photo of nightsky */
.jumbotron {
    font-family: 'Mafisha', sans-serif;
    background: url("NightSky.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    height:100vh;
    color: white;
    padding-top: 300px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 225px;
}

.About-sec {
    background: rgb(238, 235, 255);
    padding-top: 300px;
    padding-bottom: 300px;
}
