@font-face {
    font-family: 'Mafisha', sans-serif;
    src: url(Mafisha-1G5AL.otf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {

}

.navbar {
    font-family: 'Mafisha', sans-serif;
}

.navbar-brand {
    font-size: large;
}

.jumbotron {
    font-family: 'Mafisha', sans-serif;
    background: url("NightSky.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    height:100vh;
    color: white;
    padding-top: 300px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 225px;
}

.About-sec {
    font-family: 'Mafisha', sans-serif;
    background-color: rgb(238, 235, 255);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
    left: 0;
    right: 0;
    padding-top: 125px;
}

.boxtext {
    font-size: 25px;
    padding-left: 150px;
    overflow-wrap: break-word;
}

.photo {
    max-width: 38%;
    padding-left: 150px;

}
