@font-face {
    font-family: 'Adegoke', sans-serif;
    src: url(Adegoke-x3dY8.ttf);
}

body {
    background-color: rgb(253, 247, 232);
    font-family: 'Adegoke', sans-serif;
}

.navbar {
    background-color: #040415;
}

.navbar-brand {
    font-size: large;
}

.jumbotron {
    background: url("./photos/NightSky.jpg") no-repeat center;
    background-size: cover;
    min-height:100vh;
    width: 100%;
    color: white;
    padding-top: 18%;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 18%;
}


.About-sec {
    display:grid;
    grid-template-columns: 1fr 50em;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-left:150px;
}

.photo-layout {
    max-width: 80%;
    vertical-align: top;
    float: left;
    border: 3px solid white;
    border-radius: 20px;
}

.boxtext {
    font-size: 18px;
    color: #040415;
    overflow-wrap: break-word;
    text-align: left;
    padding-right: 150px;
}

.projects-sec {
    text-align: center;
    color: #040415;
    min-height: 100vh;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;

}

.calcproject {
    max-width: 40%;
    box-shadow: 7px 7px 7px #7a7a7a;
}

footer {
    display: grid;
    text-align:center;
    padding-top:10vh;
    background-color: #040415;
    color:rgb(255, 254, 249);
    min-height:40vh;
}
