@font-face {
    font-family: 'Mafisha', sans-serif;
    src: url(Mafisha-1G5AL.otf) format('truetype');
    font-weight: bold;
    font-style: normal;
}


.navbar {
    font-family: 'Mafisha', sans-serif;
}

.navbar-brand {
    font-size: large;
}

.jumbotron {
    background: url("./photos/NightSky.jpg") no-repeat center;
    background-size: cover;
    min-height:100vh;
    font-family: 'Mafisha', sans-serif;
    color: white;
    padding-top: 275px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 225px;
}


.About-sec {
    background-color: rgb(240, 233, 214);
    display:grid;
    grid-template-columns: 1fr 50em;
    font-family: 'Mafisha', sans-serif;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-left:150px;
}

.photo-layout {
    max-width: 80%;
    vertical-align: top;
    float: left;
    border: 3px solid white;
    border-radius: 20px;
}

.boxtext {
    font-size: 18px;
    color: #040415;
    overflow-wrap: break-word;
    text-align: left;
    padding-right: 150px;
}

.resume-sec {
    background-color: rgb(240, 233, 214);
    grid-template-columns: 1fr 50em;
    font-family: 'Mafisha', sans-serif;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-left:150px;

}

footer {
    background-color: #040415;
    color: white;
    min-height:25vh;

}
